[Unit]
Description=System health agent
After=network.target

[Service]
ExecStart=/usr/local/sbin/health-agent
Nice=1
Restart=always
RestartSec=1
StartLimitIntervalSec=1000
StartLimitBurst=1000

[Install]
WantedBy=multi-user.target
